.international-page {
    display: flex;
    justify-content: space-between;
}

.international-page .ui.card {
    padding: 10px;
    width: 400px;
    flex-direction: row;
}
.international-page .apartment-item {
    margin-bottom: 5px;
}

.international-page .apartment-item img {
    max-width: 250px;
    margin-right: 15px;
}