.last-add-block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #fff;
}

.last-add-item {
    width: 260px;
    height: 240px;
    margin-bottom: 35px;
}


div.item-image {
    margin: 0 auto;
    height: 150px;
    overflow: hidden;
    text-align: center;
}
.ui .image img {
    width: 100%;
    margin: -100%;
    max-width: none;
}